{% extends "layout.html" %}

{% block body %}    
    <div class="header">
        <h1>Movie Recommendations</h1>
    </div>
    <div class="container">
    <form action="/submit" method="post">
        <label for="fname">First Name:</label>
        <input id="fname" name="firstname" placeholder="First Name" autocomplete="off" autofocus type="text">

        <label for="lname">Last Name:</label>
        <input id="lname" name="lastname" placeholder="First Name" autocomplete="off" autofocus type="text"><br><br>

        <label for="mname">Favorite Movie:</label>
        <select name="moviename" id="mname">
            <option value="" disabled selected>Select Movie</option>
            {% for movie in movies %}
            <option value="{{ movie }}"> {{ movie }}</option>
            {% endfor %}
        </select>

        <label for="actor">Favorite Actor in Movie:</label>
        <input id="actor" name="actorname" placeholder="Actor Name" autocomplete="off" autofocus type="text"><br><br>

        <label for="coms">Comment:</label>
        <br>
        <textarea id="coms" name="comment" placeholder="Comment" autocomplete="off" autofocus type="text" rows="10"cols="60"></textarea>
        <br>

        <button type="submit">Submit</button>
    </form>
</div>
    <p><a href="{{ url_for('movies') }}">Purchase Favorite Movie</a></p>
    <p><a href="{{ url_for('cart') }}">Go to Cart</a></p>
    <p><a href="{{ url_for('submitted') }}">Purchase Favorite Movie</a></p>
    
{% endblock %}